body{
  margin: 0;
  font-family: "lato", sans-serif;
}
div.header>div.topheader>div.headerlogo>img {
  text-align: left;
}
div.header>div.topheader>div.headertext>h1 {
  text-align: right;
  font-size: 30px;
  color: orange;
  background-color: transparent;
}
div.header>div.bottomheader>div.navbar {
  list-style-type: none;
  margin: 10;
  padding: 10;
  overflow: hidden;
  background-color: #333333;
  position: sticky;
  top: 0;
}
div.header>div.bottomheader>div.navbar>ul{
  margin: 0;
}
div.header>div.bottomheader>div.navbar>ul>li {
  float: left;
  list-style-type: none;
}

div.header>div.bottomheader>div.navbar>ul>li>a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

div.header>div.bottomheader>div.navbar>ul>li a:hover:not(.active) {
  background-color: #111;
}

div.header>div.bottomheader>div.navbar>ul>li.active {
  background-color: orange
}

