body {
  margin: 0;
  font-family: "lato", sans-serif;
}

div.header {
  position: fixed;
  background-color: white;
  width: 100%;
}

div.header>div.topheader {
  background-color: black;
}

div.topheader>div.headerlogo {
  display: inline-block;
  width: 20%;
  padding: 20px 20px;
  text-align: center;
}

div.headerlogo>img {
  text-align: left;
  height: 80px;
  vertical-align: middle;
  border-radius: 50%;
}

div.headertext>h1 {
  text-align: right;
  font-size: 25px;
  color: orange;
  background-color: transparent;
}

div.topheader>div.headertext {
  display: inline-block;
  width: 79%;
  padding: 20px;
}

div.bottomheader>div.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: #333333;
  top: 0;

}

div.navbar>ul {
  margin: 0px;
  padding: 0px;
}

div.navbar>ul>li {
  float: left;
  list-style-type: none;
}

div.navbar>ul>li>a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

div.navbar>ul>li a:hover:not(.active) {
  background-color: #111;
}

div.navbar>ul>li.active {
  background-color: orange
}

div.main>div.navleft>div.navlefttop> {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 125px;
}

div.main>div.navleft>div.navlefttop>a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

div.main>div.navleft>div.navlefttop>a:hover {
  color: white;
  background-color: orange;
}

div.main>div.maincontent>div.mainphoto>img {
  text-align: right;
}

div.main {
  padding: 200px;
}

div.main>div.maincontent {
  margin-left: 0px;
  background: #818181;
}

div.maincontent>h1 {
  text-align: center;
  color: orange;
}

div.maincontent>p {
  color: white;
  text-align: center;
}

div.main>div.navright {
  height: 100%;
  width: 200px;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 125px;

}

div.main>div.navright>a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

div.main>div.navright>a:hover {
  color: white;
  background-color: orange;
}

div.main>div.maintable>h1 {
  text-align: center;
  color: #333333;
  font-size: 20px;
}

div.main>div.maintable>table {
  border-collapse: collapse;
  text-align: center;
  width: 80%;
}

div.main>div.maintable>table>td,
th {
  border: 4px solid #333333;
  text-align: center;
  padding: 10px;
  color: white;
}

div.main>div.maintable>table tr:nth-child(even) {
  background-color: orange;
  text-align: center;
  padding: 10px;
  color: white;
}

div.main>div.maintable>table tr:nth-child(odd) {
  background-color: #333;
  text-align: center;
  padding: 10px;
  color: white;
}

* {
  box-sizing: border-box
}

div.skillbar>.container {
  width: 70%;
  background-color: #333;
}

div.skillbar>.skills {
  text-align: right;
  padding: 20px;
  color: white;
}

div.skills.html {
  width: 10%;
  background-color: orange;
}

div.skills.css {
  width: 10%;
  background-color: orange;
}

div.skills.js {
  width: 0%;
  background-color: orange;
}

div.skills.php {
  width: 5%;
  background-color: orange;
}

footer {
  text-align: center;
  color: #333;
  background-color: orange;
  padding: 20px 200px;

}

<!-- <style>
div#asd.zxc {
  font-size: 48px;
}

div#asd {
  font-size: 36px;
}

#asd {
  font-size: 24px;
}

div.zxc {
  font-size: 18px;
}

.zxc {
  font-size: 12px !important;
}

/* batas 
div.header>div#qwe.wrapper.top>p#jkl.name.small {
  color: green
}

div.header {
  font-size: 36px;
}

div.header>div#qwe.wrapper.top>div.address-wrapper.right {
  font-size: 12px;
}

div.header>div#qwe.wrapper.top>div.address-wrapper.right>p#address.street.long.top.left {
  color: pink;
}

div.header p#address.street.long.top.left {
  color: red
}

div.address-wrapper.right>p#address.street.long.top.left {
  color: green
}

div.header>div#qwe.wrapper.top>div.address-wrapper.right>img {
  color: pink
}
</style> -->
  <!-- header -->
  <!-- <div id="asd" class="zxc" style="font-size:50px">
      zxczxcxzczcx
    </div>
    <div id="qwe" class="wrapper top">
      <p id="jkl" class="name small">
        MY NAME IS asdsadasddsa
      </p>
      <div class="address-wrapper right">
        kjjkljlkjlkj
        <p id="address" class="street long top left">
          MY ADDRESS IS ZXCZXCXZCXZC
        </p>
        <img src="asdasdzxczxc" alt="">
      </div>
    </div> -->