html {
    position: relative;
}

body {
margin-bottom: 100px;
}

.jumbotron img {
    width: 170px;
    border: 4px solid orange;
}

hr {
    width: 250px;
    border-top: 3px solid orange
}
section {
    min-height: 600px;
}

.portfolio {
    background-color: #eeeeee;
}
 .contact {
     min-height: 800px;
 }
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100px;
    background-color: #333333;
    padding-top: 30px;
}
footer p {
    color: white
}

footer p i {
    color: orange;
}

a.thumbnail>img {
    height: 172px;
}